@use "./reset.scss";
@use "./variables.scss" as var;

.header {
    display: flex;
    justify-content: space-between;
    /* padding: 25px; */
    align-items: center;
    width: 1368px;
    position: fixed;
    /* top: -23px; */
    left: 50%;
    translate: -50%;
}

.promotion-band {
    position: sticky;
    background-color: #000;
    color: #fff;
    overflow: hidden;
    margin: 0;
    text-align: center;
    white-space: nowrap;
    display: flex;

    &__content {
        display: flex;
        gap: 50px;
        align-items: center;
        line-height: 18px;
    }

    &__text {
        font-size: 12px;
        font-weight: 500;
        animation: slide 3s linear infinite;
    }
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.navbar {
    display: flex;
    min-height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0px 0px;
    background-color: var.$secondary-color;
    border-bottom: 1px solid var.$primary-color;

    &__logo-container {
        display: flex;
        height: 44px;
        align-items: center;
        justify-content: center;
        border-right: #000 1px solid;
        flex: 1;
        padding-left: 15px;
        padding-right: 30px;
    }

    &__logo {
        padding-left: 20px;
        padding-left: 20px;
    }

    &__menu {
        display: flex;
        gap: 20px;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        justify-content: space-around;

        li a {
            text-decoration: none;
            color: var.$primary-color;
            font-size: 22px;
            font-weight: 500;
            text-transform: uppercase;
            text-align: left;
        }
    }

    &__cart {
        position: relative;
        border-left: #000 1px solid;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 44px;
        padding: 5px 15px;
    }

    &__sac {
        width: 22px;
        height: 34px;
        display: block;
    }
}

.hero {
    display: flex;
    gap: 0px;


    &__video {
        width: 50dvw;
        height: 50dvw;
        object-fit: cover;
        max-height: calc(100vh - 57px);
    }

    &__link {
        position: relative;
        height: 100%;
    }

    &__content-left,
    &__content-right {
        line-height: 43px;
        padding: 0px 22px 0px 25px;
        border: #fff 1px solid;
        position: absolute;
        bottom: 54px;
        left: 50px;
        color: #fff;
        border-radius: 50px;
        text-align: center;
    }

    &__content-link {
        font-size: 20px;
        color: #fff;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 500;
    }

    &__text {
        position: absolute;
        bottom: 54px;
        right: 3%;
        font-size: 14px;
        color: #fff;
        font-weight: 500;
        text-align: left;
        max-width: 25vw;
        padding: 0px 22px 0px 25px;
        text-transform: none;
        line-height: 18.2px;
    }

}