$font-primary: 'Eudoxus Sans';
$font-secundary: 'P22 Mackinac Pro';

$color-header: #ffffffee;
$color-gray-primary: #333333;
$color-gray-secondary: #ffffff97;
$color-white:#fff;
$color-white-secondary: #faf2e9;
$color-white-terciary: #ffeef3;
$color-white-quaternary: #dcd6fb;
$color-black: #000;
$color-black-secondary: #272525;
$color-purple: #1d0042;
$color-primary-shadow: #00000018;
$color-text-shadow: #0000008f;

$linear-gradient-multicolor: linear-gradient(79deg, #2b0aff, #ff5b8a 49%, #ff5b8a 55%, #fba64b 77%, #f99b52);
$linear-gradient-multicolor-light: linear-gradient(79deg, #bb74e9, #f790cb 49%, #fbb4b6 77%, #fed5a6);

$shadow-primary: 1px 5px 4px $color-primary-shadow;

@mixin font-to-use($fontsize, $fontweight : 500, $font: $font-primary){
    font-family: $font, 'sans-serif';
    font-size: px-to-rem($fontsize);
    font-weight: $fontweight;
}

@mixin text-properties($text-wrap, $line-height:normal, $letter-spacing:normal){
    text-wrap: $text-wrap;
    line-height: $line-height;
    letter-spacing: $letter-spacing;
}

@mixin flex-container($justify, $align: start, $gap:0, $direction: row, $wrap: nowrap){
    display: flex;
    justify-content: $justify;
    align-items: $align;
    flex-direction: $direction;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin button-parameters($background, $border:none , $border-radius: 0, $color: $color-white, $box-shadow: none){
    background: $background;
    border: $border;
    border-radius: $border-radius;
    color: $color;
    box-shadow: $box-shadow;
    text-decoration: none;
    cursor: pointer;
}

@function px-to-rem($px, $base: 16) {
    @return $px / $base * 1rem;
}