@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');

$text-color: #14192C;
$logo-color: #14192C;
$roboto-mono: "Roboto Mono", serif;
$roboto-flex: "Roboto Flex", serif;
